<div class="row">
<form>
    <div class="card" #main_content>
        <div class="card-header">
            {{student.name}}
        </div>
        <div class="card-body">
            {{student.address}}
        </div>
        <div class="card-body">
            {{phone1.name}}
        </div>
        <div class="card-body">
            {{phone1.phone}}
        </div>
        <div class="card-body">
            {{phone2.name}}
        </div>
        <div class="card-body">
            {{phone2.phone}}
        </div>
    </div>
</form>
</div>